---
layout: page
---

<h1> BioJS </h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<!--<h2> MSA </h2>-->
			<div id="msa"></div>
		</div>
		<div class="col-md-4">
			<!--<h2> TnT </h2>-->
			<div id="tnt"></div>
		</div>
		<div class="col-md-4">
			<!--<h2> TnT 2 </h2>-->
			<div id="tnt2"></div>
		</div>
	</div>
</div>

<div class="credits"><a href="http://biojs-msa.org/">MSA Viewer</a> | <a href="http://edu.biojs.net/demo/treeviewer.html">Phylogenetic Tree</a> </div>


<div class="container">
      {{ content }}
</div>
